.myBut {
    margin-right: 30px;
}


.myButton {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    padding:5px 15px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
.myButton:active {
    position:relative;
    top:1px;
}

.inputForAdd {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 250px;
    height: 13px;
    margin: 5px 18% 5px 5px;
    padding: 3px 4px 3px 2px;
    border: 1px solid rgb(96,91,91);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 14px/normal "Times New Roman", Times, serif;
    color: rgb(0, 24, 33);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


.AddBlock {

    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.298039) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;

}

.linebar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    margin: 0 0 1%;
    padding: 2px auto 2px 2px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(31,54,81,0.36);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}
input:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}



.BOOKBOX1 {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    padding: -5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.BOOKBOX2 {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: auto;
    position: absolute;
    left: 40%;
    padding: -5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.USERBOX{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width:auto;
    padding: -5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;


}


.boxButtons{

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    float: right;
    position: relative;
    padding: 5px;
    overflow: hidden;
    border: none;
    font: normal 16px/1 "Times New Roman", Times, serif;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: right;

}

.boxButtons Button{

    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    margin: 2px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
}
.boxButtons Button:disabled {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid rgba(145,145,145,1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal normal bold 11px/normal Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    background: linear-gradient(180deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 1px 0 0 rgb(240,247,250) ;
    box-shadow: 0 1px 0 0 rgb(240,247,250) ;
    text-shadow: 0 -1px 0 rgba(29,29,30,1) ;
}

.navigation{

    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 70%;
    overflow: hidden;
    border: none;
    font: normal normal bold 24px/50px Arial Black, Gadget, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;


}

.navigation a{

    margin-right: 10%;
    color: gray;
    text-decoration: none;
}

.navigation a:visited{

    color: gray;
    text-decoration: none;
}

.menu{
    text-align: center;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    width: 10%;
    height: 100%;
    min-height: 1000px;
    padding: 0.5%;
    border: black;
    border-top: 1px solid;
    font: normal 100%/normal "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(151, 156, 162);

}

.login{
    display: inline-block;
}

.content{
    float: right;
    width: 89%;
    height: auto;
}


#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}



body {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    margin: 0;

    font-size: 14px;
}

.container {

    background: white;

}
.login-link-text{
    font: normal 100%/64px "Arial", Times, serif;
    color: lightgray;
}

.accounts-dialog{
    width: 300px;
    align-content: left;
}

#login-username{
    width: 70%;
}
#login-password{
     width: 70%;
     margin: 2px;
 }
#login-password-again{
    width: 55%;
    margin: 2px;
}

.ab {
    margin: 0;
    background: white;
    width:10px;
    height:auto;
    position:absolute;
    left:1150px;
    top:0px;
}
header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    position: relative;
    margin:0;

}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}



.new-book input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-book input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}


li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;

}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}


header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}
#add{
    background:transparent;
    width:100px;
    height:100px;
    position:absolute;
    left:600px;
    top:10px;
}

#lab{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 50px;
    width: 10%;
    padding: 0.5%;
    border: none;
    font: normal 100%/50px "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(151, 156, 162);
}
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-book input {
        padding-bottom: 5px;
    }

}

.delete Button{
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    margin: 2px;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
    background-color:#33bdef;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
    padding:5px 20px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;

}
.delete Button:disabled{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid rgba(145,145,145,1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal normal bold 11px/normal Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    background: -moz-linear-gradient(180deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    background: linear-gradient(180deg, rgba(137,137,137,1) 0, rgba(147,146,146,1) 5%, rgba(214,214,214,1) 100%);
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 1px 0 0 rgb(240,247,250) ;
    box-shadow: 0 1px 0 0 rgb(240,247,250) ;
    text-shadow: 0 -1px 0 rgba(29,29,30,1) ;
}
